.alert-box{
  border: 1px solid $black;
  // min-height: 30px;
  padding: 10px 10px 10px 35px;
  border-radius: 2px;
  margin: 0 auto;
  width: 84%;
}

.instructions{
  border: 1px solid $warn;
  color: $warn;
  padding: 15px 10px 10px 10px;
  border-radius: 2px;
  margin: 0 auto;
  width: 74%;
  position: relative;
  z-index: 0;
  &::before{
    content: 'alert';
    position: absolute;
    padding: 5px 13px;
    border-radius: 4px;
    background: $warn;
    color:$white;
    top: -13px;
    text-transform: uppercase;
    z-index: 1;
  }
}

.warnings{
  color: $warn;
  border-color: $warn;
  position: relative;
  &::before{
    content: '!';
    position: absolute;
    padding: 1.5px 7px;
    border-radius: 4px;
    background: $warn;
    color:$white;
    top: 8px;
    font-size: 15px;
    font-weight: bolder;
    left: 10px;
    text-transform: uppercase;
  }
}

.error{
  color: $slightly-black;
  background: rgba($danger,0.3);
  border: 1px solid $danger;
  font-size: 12px;
  padding: 10px;
  border-radius: 2px;
  text-align: center;
}

.info{
  color: $info;
  border-color: $info;
  position: relative;
  &::before{
    content: '!';
    position: absolute;
    padding: 1.5px 7px;
    border-radius: 4px;
    background: $info;
    color:$white;
    top: 8px;
    font-size: 15px;
    font-weight: bolder;
    left: 10px;
    text-transform: uppercase;
  }
}