$white:white;
$black:black;
$primary:#195BDD;
$border-primary:rgba(24, 89, 220, 0.34);
$gray:#BEBEBE;
$red:#FF0000;
$background-color:#F9F9F9;
$Lato : 'Lato', sans-serif;
$submitted:#FF9F00;
$confirmed:#609a1c;
$failed:#FF0000;
$bg-submitted:rgba(255, 157, 0, 0.2);
$bg-confirmed:#eafad7;
$bg-failed:rgba(255, 0, 0, 0.2);
$row-hover:#ECF3FF;
$warn:#F5A623;
$danger:#FFBABA;
$info:#195BDD;
$secondary:#BEBEBE;
$secondary-text:#484848;
$slightly-black: #35373A;
$green:#57AD68;
$connection-bg-color :rgba(25,91,221,0.11);