.fees{
  .network{
    background: rgba($slightly-black,0.02);
    text-align: center;
    padding: 5px;
  }
  .desc{
    padding: 0 5px;
    text-align: center;
    line-height: 15px;
    font-size: 12px;
    font-family: $Lato;
    color: $secondary-text;
  }

}