<div ng-init="vm.init()">
    <div class="header">
        <div class="top-logo" align="center">
            <img src="/assets/images/logo-white.png" alt="" class="width-11">
        </div>  
        <div class="name uppercase">EOS Pulse</div>
    </div>
    <div class="notice margin-top-20">
      <div class="title "> Let’s get started </div>
      <div class="desc margin-top-10"> You are a few steps away from building your EOS Pulse account </div>
    </div>
    <div class="polygon-box-layout">
      <div class="polygon-container">
        <div class="identifier">01</div>
        <div class="text">
          <div class="title capitalize"> Create Pulse Password </div>
          <div class="desc">Create a strong password to start your journey with EOS Pulse</div>
        </div>
      </div>
      <div class="polygon-container">
        <div class="identifier">02</div>
        <div class="text">
          <div class="title capitalize"> Create Account Name </div>
          <div class="desc">Enter your details for a new EOS account</div>
        </div>
      </div>
      <div class="text-left margin-left-80 color-secondary-text uppercase font-12 bold">or</div>
      <div class="polygon-container">
        <div class="identifier-blank"> 03 </div>
        <div class="text">
          <div class="title capitalize"> Import EOS Account </div>
          <div class="desc">Import existing EOS account using your Private Key</div>
        </div>
      </div>
    </div>
    <div class="submit_button position-bottom">
          <button ng-click="vm.gotoHomePage('home')">BEGIN</button>
      </div>
  </div>