<div ng-init="vm.init()">
    <div class="header">
        <div class="top-logo" align="center">
            <img src="/assets/images/logo-white.png" alt="" class="width-11">
        </div>  
        <div class="name uppercase">EOS Pulse</div>
    </div>
    <div class="notice margin-top-20">
      <div class="title capitalize "> phishing warning</div>
      <div class="section margin-top-20" >
        <div class="text">
            Dear EOS Pulse Users, <br/>
            Please be aware of Phishing attacks. This involves showing a fake EOS Pulse window on the page asking for user's Private Key. Revealing your Private Key to such malicious softwares may result in loss of funds. Users are encouraged to check author/publisher id before downloading the extension
        </div>
      </div>
      <div class="three-dots">
        <div class="dot" ui-sref="termsAndConditions()"> </div>
        <div class="dot" ui-sref="privacyPolicy()"></div>
        <div class="filled dot" ui-sref="phishingPolicy()"></div>
      </div>
    </div>
    <div class="submit_button position-bottom">
          <button ng-click="vm.gotoHomePage('letsGetStarted')">Accept</button>
      </div>
  </div>