<div class="welcome">
  <div class="box-layout margin-top-10">
    <div class="logo">
      <img src="/assets/images/top-logo.png" alt="logo">
    </div>
    <div class="name uppercase color-primary">
      EOS Pulse 
    </div>
    <div class="desc font-12 bold">
      Your Gateway to the EOS Blockchain
    </div>
    <div class="desc margin-top-50">
      EOS Pulse  is an open source browser extension for the EOS blockchain. It is a gateway to send, receive or stake EOS and its custom tokens. It enables easy integration with customised dApps and supports multiple accounts on various EOS networks.
    </div>
  </div>
</div>
<div class="submit_button position-bottom">
    <button ng-click="vm.gotoHomePage('termsAndConditions')" class="uppercase"> Let's Start </button>
</div>