<div class="top-header" title="Info & Help">
  <button class="right" ng-click="vm.gotoDashboard()"></button>
</div>


<div class="dashboard margin-top-20">
  <div class="info-data" >
    <div class="center-flex justify-start">
      <img src="/assets/images/top-logo.png" class="width-15" alt="pulse-logo">
      <label class="uppercase color-primary font-20 bold margin-left-10">pulse</label>
    </div>
    <div class="title margin-top-20">EOS Pulse Version 0.0.2</div>
    <div class="desc margin-top-20">EOS Pulse is designed and built in India </div>
    <div class="desc margin-top-10">EOS Pulse is an open source browser extension for the EOS blockchain. It is a gateway to send, receive or stake EOS and its custom tokens. It enables easy integration with customised dApps and supports multiple accounts on various EOS networks.</div>
    <div class="action-links margin-top-20">
      <div class="link"> <a ng-href="https://s3.ap-south-1.amazonaws.com/eos-pulse/privacy_policy_pulse.pdf" target="_blank">Privacy Policy</a> </div>
      <div class="link"> <a ng-href="https://s3.ap-south-1.amazonaws.com/eos-pulse/USER_TERMS_AND_CONDITIONS_Pulse+.pdf" target="_blank">Terms And Conditions</a> </div>
      <div class="link"> <a ng-href="https://discord.gg/zHymkdB" target="_blank"> Discord </a> </div>
      <div class="link"> <a ng-href="https://github.com/koinEX/pulse" target="_blank"> Github </a> </div>
    </div>
  </div>
</div>

