<div class="header">
  <div class="top-logo" align="center">
      <img src="/assets/images/logo-white.png" alt="" class="width-11">
  </div>  
  <div class="name uppercase">EOS Pulse</div>
</div>
<div class="home margin-top-20">
  <div class="login-header">
    <div class="title">Export Private Key</div>
    <div class="desc margin-top-10 width-90 margin-auto">Export your Private Key in CSV. Please write down your Private Key on a sheet of paper or save the CSV file in a trusted location. This is necessary for you to access your EOS wallet and to keep your account safe from being tampered or hacked. You are responsible for managing your Private Keys</div>
  </div>
  <div class="progress-line margin-top-20 margin-bottom-20">
    <div class="custom-hr-primary width-50"></div>
    <div class="custom-hr width-50"></div>
  </div>
</div>
<div class="eos-form">
  <div class="elements text-center">
    <img src="/assets/images/key.png" class="width-40" alt="">
  </div>
  <div class="elements margin-top-20">
    <label > Password </label>
    <div class="title font-12 margin-top-10" style="opacity: 0.7;">Enter your Pulse password</div>
    <div class="input center-flex">
        <input autocomplete="off" type="{{vm.typePassword ? 'password' : 'text' }}" name="password" placeholder="Password" ng-model="vm.password" class="width-100" ng-change="vm.keyDownload()">
        <i class="{{vm.typePassword ? 'password' : 'text'}}-icon pointer" ng-click="vm.togglePassword()"></i>
    </div>
  </div>
  <div class="elements" ng-show="vm.error">
    <div class="error" > {{vm.error}} </div>
  </div>
  
  <div ng-class="vm.ladda ? 'position-bottom submit_button' :' position-bottom submit_button'">
      <button  ng-click="vm.ladda || vm.success()" ng-class=" vm.ladda  ? 'opacity-50' :'' " ng-if="!vm.privateKeyArray.length || vm.ladda" ><span ng-if="!vm.ladda">Export</span> 
          <div ng-if="vm.ladda" class="indicator"> 
              <svg width="16px" height="12px">
                  <polyline id="back1" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                  <polyline id="front1" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
              </svg>
          </div> 
      </button>
      <button  ng-csv="vm.privateKeyArray" filename="{{vm.accountName}}.csv" ng-click="vm.success()"  csv-header="['account_name','private_key']"  ng-if="vm.privateKeyArray.length && !vm.ladda" ><span ng-if="!vm.ladda">Export</span> 
          <div ng-if="vm.ladda" class="indicator"> 
              <svg width="16px" height="12px">
                  <polyline id="back1" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                  <polyline id="front1" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
              </svg>
          </div> 
      </button>
  </div>
</div>   
